{% extends "base.html.twig" %}
{% block body %}
    <a href="{{ url("product.all") }}">Retour</a>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Sortie le</th>
        </tr>
                 <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.releaseOn|date }}</td>

            </tr>
    </table>
{% endblock %}
